<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

</head>
<body>
<div th:fragment="navPanel">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-light">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="nav-item">
                    <a href="#" class="navbar-brand"></a>
                    <span class="font-weight-bold" th:utext="${currentUser.username}"></span>
                </a>
                <td>with role(-s):</td>
                <span th:each="role : ${currentUser.getRoles()}">
                <span th:text="${role.toString() + ' '}"></span>
            </span>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>