<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <title>User page</title>
</head>
<body>
<div th:include="fragments/navpanel.html :: navPanel"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" th:if="${isAdmin}">
            <br>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="px-5 bg-light" th:classappend="${isAdmin} ? 'col-sm-10' : 'col-sm-12'" style="height: 100vh">
            <br>
            <h1>User information page</h1>
            <div class="tab-content">
                <div class="tab-pane active" id="usersTable">
                    <div class="card">
                        <div class="card-header">
                            <b>About user</b>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>E-mail</th>
                                    <th>Password</th>
                                    <th>Roles</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block>
                                    <tr>
                                        <td th:text="${currentUser.id}"></td>
                                        <td th:text="${currentUser.email}"></td>
                                        <td th:text="${currentUser.password}"></td>
                                        <td>
                                            <div th:each="role : ${currentUser.getRoles()}">
                                                <span class="text-uppercase"
                                                      th:text="${role.getAuthority() + ' '}"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>